<!DOCTYPE html>
{% load static %}
<head>
  <title>HOTorNOT</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href=" {% static 'alerts/style/reset.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'alerts/style/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="players_warning">
    <div class="two-thirds left">
      <p>1 Player(s) in Danger</p>
    </div>
    <div class="one-third right expand">
      <p>+ See Details</p>
    </div>
  </div>
  <div class="main">
      <div class="tip">
        <p class="pspace">PLAYER MONITORING</p>
        <p>A. Adams must rest until his heart rate is below 160 BPM.</p>
        <a href="over.html">
        <div class="act">
        <div class="half right a-right">
          <h5>HR: 190 BPM</h5>
        </div>
        </div>

      </div>
  </div>
</body>
</html>
